.profileBorder {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 81, 255));
  width: 100px;
  height: 100px;
  animation: spinning 8s linear infinite;
  text-align: center;
  border-radius: 100px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 81, 255);
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}