@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Rubik&display=swap');

.theme-dark:root {
  --tv-color-platform-background: #141416;
  --tv-color-pane-background: #161221;
  --tv-color-pane-background-secondary: rgb(249, 185, 233);
  --tv-color-toolbar-button-background-hover: #dadada;
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-background-expanded: #141416;
  --tv-color-toolbar-button-text: #dadada;
  --tv-color-toolbar-button-text-hover: #000000;
  --tv-color-toolbar-button-text-active: #dadada;
  --tv-color-toolbar-button-text-active-hover: #000000;
  --tv-color-item-active-text: #3772ff;
  --tv-color-toolbar-toggle-button-background-active: rgb(0, 0, 0);
  --tv-color-toolbar-toggle-button-background-active-hover: rgb(0, 0, 0);
  --tv-toolbar-explicit-hover-border-radius: 0px;
}

* {
  font-family: 'DM Sans' !important;
}

html body {
  background: #141416 !important;
}
